{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/css/creation-admin.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('css/css/footerless.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
{% if hasError %}
    <p>Une erreur est survenue merci de vérifier vos identifiants !!</p>
  {% endif %}
  
<form action="{{ path('security_login')}}" method="post">

  <section class="titre-back">
    <h2 class="h2-back">Identifiez-vous pour apporter des modifications au site de Rimbaud'Tech</h2>

    <figure>
      <img src="{{asset('img/illustrations/login.svg')}}" class="icone-back" height="100" width="150">
    </figure>
  </section>

    <div class="form-group">
      <input placeholder="Nom d'Utilisateur" required name="_username"
      type="text" class="form-control">
    </div>
    <div class="form-group">
      <input placeholder="Mot de Passe" required name="_password"
      type="password" class="form-control">
    </div>
    <button type="submit" name="submit[]" class="btn-admin">Se connecter !</button>

</form>
{% endblock %}
