@charset "UTF-8";
/*  style pour l'affichage des 3 derniers articles  */
.liste_articles {
  margin: 2em; }
  .liste_articles .title-article {
    text-align: left;
    color: #c91a5f;
    font-size: 2em; }
  .liste_articles aside {
    margin-left: 1em;
    font-style: italic;
    color: #585858;
    font-size: 1em; }
  .liste_articles img {
    width: auto;
    max-height: 20em;
    margin-left: 10em;
    margin-top: 1em; }
  .liste_articles .article-tx {
    margin: 0 10em 2em 10em; }
  .liste_articles h5 {
    font-weight: 900;
    color: #585858;
    line-height: 1.6;
    font-size: 1.2em; }
  .liste_articles h4 {
    color: #4ab9e4;
    font-size: 1.4em; }
  .liste_articles p {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.6; }
  .liste_articles li {
    color: #585858;
    font-weight: 500; }
  .liste_articles .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    font-size: 2em;
    float: right;
    background-color: #4ab9e4;
    padding: 0 0.4em 0.1em 0.4em;
    border-radius: 47%; }
  .liste_articles .active:after {
    content: "\2212"; }
  .liste_articles .art-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }

/*  pour les iframes des réseaux sociaux  */
.iframes-gp {
  background-color: #4ab9e4;
  padding: 2em 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }

.iframe-fb {
  padding-left: 6em; }

.iframe-twitter {
  padding-right: 6em; }

/* pour les boutons d'un article type */
.liste_articles .prev, .liste_articles .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  background-color: #c91a5f;
  border-radius: 3em;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  padding: 0.5em 0.7em; }

/* Position du btn à dte */
.next {
  right: 2em; }

/* bckgd pour le hover et le active */
.prev:hover, .next:hover {
  background-color: #4ab9e4; }

.prev:active, .next:active {
  background-color: #585858; }

/**************pour les commentaires**********/
.comments {
  background-color: #a0ddf4; }
  .comments h2 {
    text-align: left;
    padding-top: 1em;
    padding-left: 5em;
    margin-top: 0; }
  .comments .comments-type {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em; }
  .comments aside {
    margin-left: 1em;
    font-style: italic;
    color: #585858;
    font-size: 1em;
    margin-left: 3em; }
  .comments p {
    text-align: left; }
  .comments .fas {
    color: #c91a5f; }
  .comments .comments-h2 {
    text-align: center;
    padding-left: 0; }
  .comments .comments-h2-user {
    text-align: left;
    padding-left: 5em; }
  .comments label {
    display: none; }
  .comments textarea {
    font-family: "Muli", sans-serif;
    padding: 0 5em 0 1em;
    width: 90%;
    height: 5em;
    font-size: 1em;
    border-radius: 1em; }
  .comments .form-group-comment {
    margin: 2em 5em;
    padding-bottom: 1em;
    font-size: 1.3em;
    font-weight: 400; }
    .comments .form-group-comment :focus {
      border-left: 0.5em solid #c91a5f;
      padding-left: 0.3em; }
  .comments .comments__btn {
    color: white;
    width: 10em;
    border-radius: 2em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 2em;
    background-color: #4ab9e4;
    margin-bottom: 2em;
    margin-left: calc(50% - 5em); }
    .comments .comments__btn:hover {
      text-decoration: underline; }

/*************media query****************/
@media screen and (max-width: 1049px) {
  .liste_articles .article-tx {
    margin-left: 5em;
    margin-right: 5em; }

  .iframe-fb {
    padding-left: 2em; }

  .iframe-twitter {
    padding-right: 2em; } }
@media screen and (max-width: 1049px) {
  .iframes-gp {
    flex-wrap: wrap;
    justify-content: space-around; }

  .iframe-fb, .iframe-twitter {
    padding: 2em 0.5em;
    margin-left: calc(25% - 200px); } }
@media screen and (max-width: 729px) {
  .liste_articles .title-article {
    font-size: 1.5em; }
  .liste_articles .article-tx {
    margin-left: 2em;
    margin-right: 2em; }
  .liste_articles img {
    margin-left: 5em; } }
@media screen and (max-width: 549px) {
  .iframe-fb, .iframe-twitter {
    margin: 2em; }

  .liste_articles img {
    margin-left: 0em; }
  .liste_articles .title-article {
    font-size: 1em; }
  .liste_articles h5 {
    font-weight: 600;
    font-size: 1em; }
  .liste_articles h4 {
    font-size: 1em; }
  .liste_articles p {
    font-size: 1em;
    font-weight: normal; }

  .prev, .next {
    top: 50%; } }

/*# sourceMappingURL=actualites.css.map */
