h2 {
  color: #585858;
  text-align: center;
  margin-top: 1em; }
  h2:hover {
    color: #c91a5f;
    text-decoration: underline; }
  h2:hover {
    text-decoration: none;
    color: #585858; }

h2.margin-admin {
  margin: 3em 0; }

.titre-back {
  display: flex;
  flex: nowrap;
  margin-top: 1em;
  align-items: baseline;
  justify-content: center; }
  .titre-back .h2-back {
    color: #585858;
    flex: 0 1 auto; }
  .titre-back .icone-back {
    flex: 1 1 auto; }

.titre-back-center {
  display: flex;
  flex: nowrap;
  margin-top: 1em;
  align-items: center;
  justify-content: center; }
  .titre-back-center .h2-back {
    color: #585858;
    flex: 0 1 auto; }
  .titre-back-center .icone-back {
    flex: 1 1 auto; }

/*  formulaires*/
label {
  display: none; }

.form-admin-photos :focus {
  border-left: 0.5em solid #c91a5f;
  padding-left: 0.1em; }
.form-admin-photos label {
  display: inherit;
  font-style: italic; }

.form-group-article {
  margin-left: 25%; }
  .form-group-article :focus {
    border-left: 0.5em solid #c91a5f;
    padding-left: 0.1em; }
  .form-group-article label {
    display: inherit;
    font-style: italic; }

input#form_image.form-control {
  display: none; }

.form-label {
  margin-bottom: 1.3em;
  font-style: italic; }

.form-group {
  width: 50%;
  height: 3em;
  border: none;
  border-bottom: 0.1em solid #4ab9e4;
  margin: 1em auto;
  margin-left: 25%;
  font-size: 1.3em;
  color: #585858;
  font-weight: 400;
  padding-bottom: 1em; }
  .form-group :focus {
    border-left: 0.5em solid #c91a5f;
    padding-left: 0.1em; }

.form-group-photos {
  width: 50%;
  height: 7em;
  border: none;
  border-bottom: 0.1em solid #4ab9e4;
  margin: 1em auto;
  margin-left: 25%;
  font-size: 1.3em;
  color: #585858;
  font-weight: 400;
  padding-bottom: 1em; }

.form-group-comment {
  margin: 2em 5em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid #4ab9e4;
  font-size: 1.3em;
  color: #585858;
  font-weight: 400; }
  .form-group-comment :focus {
    border-left: 0.5em solid #c91a5f;
    padding-left: 0.1em; }

.form-group-login {
  width: 25em;
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 0.1em solid #4ab9e4;
  font-size: 1.3em;
  color: #585858;
  font-weight: 400; }
  .form-group-login :focus {
    border-left: 0.5em solid #c91a5f;
    padding-left: 0.1em; }

.form-control {
  border: none;
  font-size: 1em;
  width: 30em;
  outline-style: none;
  padding: 0.5em; }

textarea#form_description.form-control, textarea#form_comment.form-control, textarea#form_introduction.form-control, textarea#form_paragraphe1.form-control, textarea#form_paragraphe2.form-control, textarea#form_paragraphe3.form-control, textarea#form_paragraphe4.form-control, textarea#content_description.form-control {
  font-family: "Muli", sans-serif;
  width: 100%; }

textarea {
  padding: 0 5em 0 0;
  font-size: 1em; }

textarea#form_text.form-control {
  width: 100%;
  height: 3em; }

input#user.form-input, input#article.form-input, input#tarif.form-input, input#content.form-input {
  vertical-align: bottom;
  width: 2em;
  height: 2em;
  margin: 0;
  margin-right: 1em; }

input#comment.form-input {
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle; }

.btn-admin {
  background-color: #4ab9e4;
  color: white;
  width: 10em;
  border-radius: 2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: calc(50% - 5em);
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .btn-admin:hover {
    text-decoration: underline;
    background-color: #c91a5f; }

.fas {
  color: #c91a5f;
  padding-left: 1em; }

.comments-tx {
  padding-left: 1em; }

.aside {
  margin-left: 1em;
  font-style: italic;
  color: #585858;
  font-size: 1em;
  margin-left: 10em; }

/*  page accueil  */
.back {
  margin-left: calc( 50% - 400px); }

/*  boutons de gestion  */
.btn-back {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-15em);
  margin-top: 2em; }
  .btn-back .btn-admin {
    flex: 1 1 auto;
    max-width: 30em; }

.mag {
  background-color: #c91a5f; }
  .mag:hover {
    background-color: #4ab9e4; }

/********security**************/
.error-dmg {
  color: #585858;
  padding: 1em;
  border: 0.2em dotted #c91a5f;
  width: 44em;
  text-align: center;
  margin-left: calc( 50% - 24em); }

.login-path {
  margin-bottom: 0;
  color: #c91a5f; }
  .login-path:hover {
    text-decoration: underline; }

.login-btn {
  margin-bottom: 5em; }

/*************tooltip**************/
.container-tooltip {
  display: flex;
  flex-direction: row; }

.icone-help {
  background-color: #F5ECEC;
  border-radius: 50%;
  padding: 0.6em;
  position: relative;
  right: 15em; }

.tooltip #tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  right: 3.8em;
  top: 43em;
  opacity: 0;
  transition: opacity 0.3s;
  width: 10em;
  height: 5em;
  background: #c91a5f;
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: 0.3em;
  color: antiquewhite;
  text-align: center; }

#tooltiptext:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 1.625em;
  width: 0;
  height: 0;
  border-top: 0.813em solid transparent;
  border-right: 1.625em solid #c91a5f;
  border-bottom: 0.813em solid transparent; }

.tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1; }

/*# sourceMappingURL=creation-admin.css.map */
