@charset "UTF-8";
h2 {
  color: #585858;
  text-align: center; }
  h2:hover {
    color: #c91a5f;
    text-decoration: underline; }
  h2:hover {
    text-decoration: none;
    color: #585858; }

/*  galerie des incubés  */
.galerie {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 5em; }

.galerie-gp {
  flex: 1 1 auto;
  max-height: 300px; }
  .galerie-gp a {
    text-decoration: none; }
  .galerie-gp img {
    position: relative;
    z-index: 0; }

.galerie-i1 {
  color: #c91a5f;
  position: relative;
  z-index: 2;
  left: -8.4em;
  top: -0.05em; }
  .galerie-i1:hover {
    color: #4ab9e4; }

.galerie-transition {
  position: relative;
  bottom: 11em;
  z-index: 3;
  width: 28px;
  height: 148px;
  background-color: #c91a5f;
  opacity: 0;
  transform: translateY(0);
  transition: width 2s, height 2s, background-color 2s, opacity 2s, z-index 2s, transform 2s ease;
  transition-delay: 4s; }
  .galerie-transition:hover {
    width: 400px;
    height: 267px;
    background-color: #4ab9e4;
    opacity: 0.5;
    transform: translateY(-7.4em);
    z-index: 1;
    transition: width 2s, height 2s, background-color 2s, opacity 2s, z-index 2s, transform 2s ease; }

.galerie-tx {
  color: black;
  text-align: left;
  margin-left: 0.3em;
  padding: 0.5em 0 0 0.3em; }

.galerie-hr {
  width: 30%;
  border: 0.1em solid black;
  margin-left: 0.5em; }

.galerie-i2 {
  color: black;
  padding-left: 0.5em; }

/*  processus de sélection  */
.selection {
  background-color: #4ab9e4;
  padding: 2em; }
  .selection .processus {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em; }
  .selection .contact, .selection .verification, .selection .preparation, .selection .validation {
    flex: 1 1 auto;
    width: 30em; }
  .selection .icone-processus {
    margin-left: calc(50% - 100px);
    z-index: 100; }
  .selection h3 {
    color: #c91a5f;
    text-align: center; }
  .selection p {
    color: #585858;
    font-size: 1.2em; }
  .selection .selection-list {
    margin-bottom: 0; }
  .selection ul {
    max-width: 20em;
    font-family: "Muli", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 1em; }
  .selection li {
    color: #585858;
    font-family: 'Sniglet', cursive;
    font-size: 1em; }

.dotted-processus {
  transform: translateY(-20em);
  border: 0.7em dotted #c91a5f;
  border-bottom: none;
  width: 75%;
  z-index: 0; }

/***********page d'un incubé ou d'un coworker*************/
.intro {
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0; }
  .intro figure {
    margin-left: 3em;
    flex: 1 1 auto; }
  .intro .intro-tx {
    flex: 1 1 auto;
    margin-top: 3em; }
  .intro h2, .intro p {
    text-align: left; }
  .intro p {
    margin-right: 2em;
    min-height: 6em; }
  .intro .cap {
    text-transform: uppercase; }
  .intro .intro-hr {
    background-color: #4ab9e4;
    height: 0.2em;
    border: none;
    margin-left: 0em;
    width: 60%; }
  .intro .intro-hr-cow {
    background-color: #c91a5f;
    height: 0.2em;
    border: none;
    margin-left: 0em;
    width: 60%; }

.fab {
  color: #4ab9e4; }
  .fab:hover {
    color: #c91a5f; }

.fa-twitter, .fa-linkedin-in {
  margin-left: 0.8em; }

.section__socialnetwork_cow .fab {
  color: #c91a5f; }
  .section__socialnetwork_cow .fab:hover {
    color: #4ab9e4; }
.section__socialnetwork_cow .fa-twitter, .section__socialnetwork_cow .fa-linkedin-in {
  margin-left: 0.8em; }

.section_site {
  color: #585858;
  font-family: 'Sniglet', cursive;
  font-size: 1.2em;
  padding-top: 1em; }
  .section_site:visited, .section_site :active {
    color: #4b4b4b; }
  .section_site:hover {
    color: #c91a5f;
    text-decoration: underline; }
  .section_site:focus {
    color: #4ab9e4; }

/*  dispo galerie petites photos */
.galerie_incube {
  background-color: #4ab9e4; }

.galerie_coworker {
  background-color: #c91a5f; }

.galerie_incube, .galerie_coworker {
  display: flex;
  justify-content: flex-end;
  margin-left: 43%; }

/********commentaires**********/
.comment {
  padding: 2em 5em; }
  .comment h2, .comment p {
    text-align: left; }
  .comment p {
    font-style: italic; }
  .comment .comment-hr {
    background-color: #4ab9e4;
    height: 0.2em;
    border: none; }
  .comment .comment-hr-coworker {
    background-color: #c91a5f;
    height: 0.2em;
    border: none; }
  .comment .comment-hr, .comment .comment-hr-coworker {
    margin-left: 0;
    width: 30%; }

/*  boutons de redirection  */
.btn-incube {
  display: flex;
  justify-content: center;
  margin: 3em auto; }
  .btn-incube .btn-admin {
    background-color: #c91a5f;
    color: white;
    width: 10em;
    border-radius: 2em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 2em; }
    .btn-incube .btn-admin:hover {
      text-decoration: underline; }

/***********media query *************/
@media screen and (max-width: 1679px) {
  .galerie_incube, .galerie_coworker {
    margin-left: 33%; } }
@media screen and (max-width: 1639px) {
  .selection h3 {
    font-size: 1em; }
  .selection p {
    font-size: 1em; }
  .selection li {
    font-size: 1em; } }
@media screen and (max-width: 1619px) {
  .galerie_incubes {
    margin: 2em 3em; } }
@media screen and (max-width: 1471px) {
  .selection h3 {
    min-height: 3em; } }
@media screen and (max-width: 1439px) {
  .galerie_incubes {
    margin: 2em 1em; } }
@media screen and (max-width: 1380px) {
  .selection .processus {
    padding: 2em 0; } }
@media screen and (max-width: 1312px) {
  .galerie_incubes {
    margin: 2em 7em; }

  .selection .processus {
    flex-wrap: wrap; }
  .selection p {
    max-width: 20em;
    margin-left: calc(50% - 10em);
    font-size: 1.2em; }
  .selection h3 {
    font-size: 1.2em; } }
@media screen and (max-width: 1219px) {
  .galerie_incubes {
    margin: 2em 4em; }

  .intro {
    flex-wrap: wrap; }

  .intro-tx {
    margin-left: 3em; }

  .galerie_incube, .galerie_coworker {
    justify-content: flex-start;
    margin-left: 23%; }

  .img4 {
    display: none; }

  .comment {
    padding: 2em 3em; } }
@media screen and (max-width: 1149px) {
  .img3 {
    display: none; }

  .galerie_incube, .galerie_coworker {
    margin-left: 43%; }

  .selection ul {
    padding-left: 4em; }
  .selection li {
    font-size: 1.1em; } }
@media screen and (max-width: 1029px) {
  .galerie_incubes {
    margin: 2em 1em; }

  .galerie_incube, .galerie_coworker {
    margin-left: 23%; } }
@media screen and (max-width: 879px) {
  .galerie_incubes {
    margin-left: calc(50% - 200px); } }
@media screen and (max-width: 755px) {
  .galerie_incube, .galerie_coworker {
    margin-left: 13%; }

  .intro img {
    width: 400px;
    height: auto; }

  .btn-incube {
    min-width: 5em; }
    .btn-incube .btn-admin a {
      font-size: 0.8em; } }
@media screen and (max-width: 755px) {
  .galerie_incube, .galerie_coworker {
    margin-left: 3%; }

  .btn-incube {
    flex-direction: column;
    margin-left: calc(50% - 93px); }
    .btn-incube .btn-admin {
      margin: 1em; } }
@media screen and (max-width: 600px) {
  .galerie_incube, .galerie_coworker {
    margin-left: 33%; }

  .img2 {
    display: none; }

  .selection ul {
    padding-left: 0; } }

/*# sourceMappingURL=incub%C3%A9s.css.map */
