@charset "UTF-8";
h2 {
  color: #585858;
  text-align: center; }
  h2:hover {
    color: #c91a5f;
    text-decoration: underline; }
  h2:hover {
    text-decoration: none;
    color: #585858; }

/*  galerie des incubés  */
.galerie_incubes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 5em; }

.galerie-gp {
  flex: 1 1 auto;
  max-height: 300px; }
  .galerie-gp a {
    text-decoration: none; }
  .galerie-gp img {
    position: relative;
    z-index: 0; }

.galerie-i1 {
  color: #c91a5f;
  position: relative;
  z-index: 2;
  left: -12.6em;
  top: -0.1em; }
  .galerie-i1:hover {
    color: #4ab9e4; }

.galerie-transition {
  position: relative;
  bottom: 11em;
  z-index: 3;
  width: 28px;
  height: 148px;
  background-color: #c91a5f;
  opacity: 0;
  transform: translateY(0);
  transition: width 2s, height 2s, background-color 2s, opacity 2s, z-index 2s, transform 2s ease;
  transition-delay: 4s; }
  .galerie-transition:hover {
    width: 400px;
    height: 267px;
    background-color: #4ab9e4;
    opacity: 0.5;
    transform: translateY(-7.2em);
    z-index: 1;
    transition: width 2s, height 2s, background-color 2s, opacity 2s, z-index 2s, transform 2s ease; }

.galerie-tx {
  color: black;
  text-align: left;
  margin-left: 0.3em;
  padding: 0.5em 0 0 0.3em; }

.galerie-hr {
  width: 30%;
  border: 0.1em solid black;
  margin-left: 0.5em; }

.galerie-i2 {
  color: black;
  padding-left: 0.5em; }

/*  processus de sélection  */
.selection {
  background-color: #4ab9e4;
  padding: 2em; }
  .selection .processus {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em; }
  .selection .contact, .selection .verification, .selection .preparation, .selection .validation {
    flex: 1 1 auto;
    width: 30em; }
  .selection .icone-processus {
    margin-left: 5em;
    z-index: 100; }
  .selection h3 {
    color: #c91a5f;
    text-align: center; }
  .selection p {
    color: #585858;
    font-size: 1.2em; }

.dotted-processus {
  transform: translateY(-20em);
  border: 0.7em dotted #c91a5f;
  border-bottom: none;
  width: 75%;
  z-index: 0; }

/*  page d'un incubé ou d'un coworker*/
.intro {
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0; }
  .intro figure {
    margin-left: 3em;
    flex: 1 1 auto; }
  .intro .intro-tx {
    flex: 1 1 auto;
    margin-top: 3em; }
  .intro h2, .intro p {
    text-align: left; }
  .intro p {
    margin-right: 2em; }
  .intro .cap {
    text-transform: uppercase; }
  .intro .intro-hr {
    background-color: #4ab9e4;
    height: 0.2em;
    border: none;
    transform: translateX(-15em);
    width: 60%; }
  .intro .intro-hr-cow {
    background-color: #c91a5f;
    height: 0.2em;
    border: none;
    transform: translateX(-15em);
    width: 60%; }

/*  dispo galerie petites photos */
.galerie_incube {
  background-color: #4ab9e4; }

.galerie_coworker {
  background-color: #c91a5f; }

.galerie_incube, .galerie_coworker {
  display: flex;
  justify-content: flex-end;
  margin-left: 43%; }

/*  commentaires */
.comment {
  padding: 2em 5em; }
  .comment h2, .comment p {
    text-align: left; }
  .comment p {
    font-style: italic; }
  .comment .comment-hr {
    background-color: #4ab9e4;
    height: 0.2em;
    border: none; }
  .comment .comment-hr-coworker {
    background-color: #c91a5f;
    height: 0.2em;
    border: none; }
  .comment .comment-hr, .comment .comment-hr-coworker {
    transform: translateX(-38em);
    width: 30%; }

/*  boutons de redirection  */
.btn-incube {
  display: flex;
  justify-content: center;
  margin: 3em auto; }
  .btn-incube .btn-admin {
    background-color: #c91a5f;
    color: white;
    width: 10em;
    border-radius: 2em;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 2em; }
    .btn-incube .btn-admin:hover {
      text-decoration: underline; }

/***********media query *************/

/*# sourceMappingURL=incub%C3%A9s.css.map */
