{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<h1>Page Actualités</h1>

<button><a href="{{ path('article')}}">Afficher la page type des articles</a></button>
<button><a href="{{ path('create-article')}}">Afficher la page de création des articles</a></button>
{% endblock %}
