{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Incubateur{% endblock %}

{% block body %}

<section class="section__infographie">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Incubateur d'entreprises innovantes</h2>

    <div class="infographie">
    </div>
</section>
<section class="section__incubateur">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Incubateur ? </h2>

     <p>Un incubateur d'entreprises est une structure d'accompagnement de projets de création d'entreprise. Rimbaud' Tech apporte un appui en termes d'hébergement, de conseil et de financement, lors des premières étapes de la vie de l'entreprise.</p>
     <p>Rimbaud' Tech s'adresse à des sociétés très jeunes ou encore en création, et leur propose un ensemble de services adaptés.</p>
     <p>Rimbaud' Tech est une structure à but non lucratif. Ardenne Metropole et la Caisse d'Epargne sont à l'origine de la création de l'association Rimbaud'Tech, à laquelle est venue s'ajouter la région Grand Est.</p>
</section>
<section class="section__equipe">
  <h2>Rimbaud'Tech <span class="logoblue">|</span> Notre équipe </h2>

  <div class="section__equipe__presentation">

    <img src="{{asset('img/RT-mur-entree.jpg')}}" alt="Mur d'entrée de Rimbaud Tech" width="2448" height="3264">
    <div class="section__equipe__presentation__tx">
      <h3 class="cap">Jérémie Pawelczyk</h3>
      <hr class="blueline">
      <h3 class="cap">Directeur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="https://www.linkedin.com/in/jeremie-pawelczyk-062ab480/">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>

      <h3 class="cap">Terry Varenne</h3>
      <hr class="blueline">
      <h3 class="cap">Chargée de communciation</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <a href="https://www.linkedin.com/in/terry-varenne-69451370/">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>

    </div>
  </div>
</section>
{% endblock %}
