{% extends 'base.html.twig' %}

{% block title %}Rimbaud'Tech | Incubateur d'entreprises innovantes{% endblock %}

{% block body %}
    <h1>Page d'Index ✅</h1>

    {% include 'rt/slider-index.html.twig' %}


{% endblock %}
