<!DOCTYPE HTML>
<html>

  <head>

        <meta charset="utf-8">
        <title>Newsletter</title>

        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="{{asset('css/newsletter.css')}}">
  </head>

  <body>
    <article>
      <section class="newsletter">
        <a href="{{ path('contact')}}"><div class="inter-newsletter">Abonnez-vous à notre newsletter ici</a>
          <img src="{{asset('img/newsletter.png')}}" alt="Newsletter" width="315" height="500">
        </div>
      </section>
    </article>


  </body>

</html>
