{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Mentions Légales{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Les mentions légales</h2>

  <figure>
    <img src="{{asset('img/illustrations/about.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="footerlinks-about">
  <h4>EDITEUR</h4>
    <p>Le présent site est la propriété de l’Association Rimbaud’Tech, immatriculée au Registre du commerce et des sociétés de SEDAN sous le numéro 821 725 330 000 12, dont le siège social est 10 place de la gare 08000 Charleville-Mézières.</p>

    <p>L’association</p>

    <p>Rimbaud’Tech n’est pas assujettie à la TVA.</p>

    <p>Tel : 07 82 45 54 04<br/>
    E-mail : <a href="mailto:contact@rimbaud-tech.fr" class="footerlinks-links">contact@rimbaud-tech.fr</a></p>

  <h4>DIRECTEUR DE LA PUBLICATION</h4>
    <p>Le directeur de publication du site Rimbaud’Tech : M. Jérémie PAWELCZYK en qualité de Directeur.</p>
    <p>Le site <a href="www.rimbaud-tech.fr" class="footerlinks-links">www.rimbaud-tech.fr</a> a été enregistré auprès du CNIL sous la réference n°(en cours d’acquisition)</p>

  <h4>CONCEPTION & REALISATION</h4>
    <p>Conception et réalisation : Angélina Maas</p>

    <p>Site Web : en cours<br/>
    E-mail : <a href="mailto:maas.angie33@gmail.com" class="footerlinks-links">maas.angie33@gmail.com</a></p>

    <p>Ce site internet a été réalisé pendant la formation <a href="https://simplon-charleville.fr/" class="footerlinks-links">Simplon Charleville-Mézières</a>: développeur web et web mobile.</p>

  <h4>HEBERGEUR</h4>
    <p>Le site <a href="www.rimbaud-tech.fr" class="footerlinks-links">rimbaud-tech.fr</a> est hébergé par la société Ovh, dont le siège social est à Roubaix.</p>

    <p>OVH SAS<br/>
    2 rue Kellermann<br/>
    BP 80157 59100 Roubaix<br/>
    Tél :  +33 (0)3 20 45 36 80</p>

</section>
{% endblock %}
