{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Sitemap{% endblock %}

{% block body %}
<section class="footerlinks-title">
  <h2 class="h2-back">Sitemap</h2>

</section>

{% endblock %}
