{% extends 'base-admin.html.twig' %}

{% block title %}Modifier le personnel de Rimbaud' Tech{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Modifier le personnel de Rimbaud' Tech</h2>

  <figure>
    <img src="{{asset('img/illustrations/team.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>


{% endblock %}
