{% extends 'base-admin.html.twig' %}

{% block title %}Modifier la page d'accueil{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Modifier la page d'accueil</h2>

  <figure>
    <img src="{{asset('img/index.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>


{% endblock %}
