{% extends 'base-admin.html.twig' %}

{% block title %}Modifier la page d'accueil{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<section class="titre-back-center">
  <h2 class="h2-back">Modifier la page d'accueil</h2>

  <figure>
    <img src="{{asset('img/illustrations/index.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

{{ form_start(formNewsletter)}}
<div class="form-group">
  {{ form_row(formNewsletter.printscreen, {'label': 'Nom', 'attr': {'placeholder' : "Nom", 'class' : "form-control"}})}}
</div>
<button type="submit" class="btn-admin">Publier</button>
{{ form_end(formNewsletter)}}


{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}
{% endblock %}
