
{% extends 'base-admin.html.twig' %}
{% block body %}
{% if is_granted('ROLE_ADMIN') %}

<h2 class="margin-admin">Bienvenue {{ app.user.username }} sur l'interface d'administration</h2>

<figure>
  <img src="{{asset('img/illustrations/back.svg')}}" class="back" height="500" width="800">
</figure>

{% else %}
{% include 'rt/admin/accessdenied.html.twig' %}
{% endif %}

{% endblock %}
