{% extends 'base-admin.html.twig' %}

{% block title %}Login site Rimabud'Tech{% endblock %}

{% block body %}
<h2>Identifiez-vous pour apporter des modifications au site de Rimabud'Tech</h2>

{{ form_start(formlogAdmin)}}

<button type="submit" class="btn-admin">c'est parti!</button>
{{ form_end(formAdmin)}}

{% endblock %}
