{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
<section class="titre-back-center">
  <h2 class="h2-back">Modifier un incubé ou un co-worker</h2>

  <figure>

  </figure>
</section>


<button type="submit" class="btn-admin">Modifier</button>
</form>
{% endblock %}
