{% extends 'base-admin.html.twig' %}

{% block title %}Gérer les administrateurs du site{% endblock %}

{% block body %}

<section class="titre-back-center">
  <h2 class="h2-back">Gérer les administrateurs du site</h2>

  <figure>
    <img src="{{asset('img/illustrations/admin.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="btn-back">
  <button class="btn-admin">
    <a href="{{path('security_registration')}}">Enregister un administrateur</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('modify-admin')}}">Modifier un administrateur</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('remove-admin')}}">Supprimer un administrateur</a>
  </button>
</section>
{% endblock %}
