{% extends 'base-admin.html.twig' %}

{% block title %}Administrer les Utilisateurs{% endblock %}

{% block body %}

<section class="titre-back">
  <h2 class="h2-back">Gérer les Inbubés et les Co-Workers</h2>

  <figure>
    <img src="{{asset('img/illustrations/incubateur.svg')}}" class="icone-back" height="100" width="150">
  </figure>
</section>

<section class="btn-back">
  <button class="btn-admin">
    <a href="{{path('create-utilisateur')}}">Ajouter un Incubé, un Co-Worker ou un membre du personnel</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('modify-utilisateur')}}">Modifier un Incubé, un Co-Worker ou un membre du personnel</a>
  </button>
  <button class="btn-admin">
    <a href="{{path('remove-utilisateur')}}">Supprimer un Incubé, un Co-Worker ou un membre du personnel</a>
  </button>
</section>
{% endblock %}
