{% extends 'base-admin.html.twig' %}

{% block title %}Administrer les Incubés{% endblock %}

{% block body %}

<section class="titre-back-center">
  <h2 class="h2-back">Gérer les Incubés</h2>

  <figure>

  </figure>
</section>

<section class="btn-back">
  <button class="btn-admin">
    <a href="{{path('create-incube')}}">Ajouter un Incubé</a>
  </button>
  <button class="btn-admin">
    <a href="#">Modifier un Incubé</a>
  </button>
  <button class="btn-admin">
    <a href="#">Supprimer un Incubé</a>
  </button>
</section>
{% endblock %}
