{% extends 'base-admin.html.twig' %}

{% block title %}Administrer les articles{% endblock %}

{% block body %}

<button><a href="{{path('create-article')}}">Créer un article</a></button>
{% endblock %}
