{% extends 'base-admin.html.twig' %}

{% block title %}Administrer les tarifs{% endblock %}

{% block body %}

<section class="titre-back-center">
  <h2 class="h2-back">Gérer les tarifs</h2>

  <figure>

  </figure>
</section>

<section class="btn-back">
  <button class="btn-admin">
    <a href="{{path('createTarif')}}">Ajouter les tarifs</a>
  </button>
  <button class="btn-admin">
    <a href="#">Modifier les tarifs</a>
  </button>
  <button class="btn-admin">
    <a href="#">Supprimer les tarifs</a>
  </button>
</section>
{% endblock %}
