{% extends 'base-admin.html.twig' %}
{% block body %}
<h2>Votre modification a bien été effectuée !</h2>

<figure>
  <img src="{{asset('img/done.svg')}}" class="back" height="500" width="800">
</figure>

<button class="btn-admin"><a href="{{ path('homeAdmin')}}">Retour Accueil</a></button>
{% endblock %}
