{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Erreur {% endblock %}

{% block body %}

  <h2> Oups ! Il semble qu'il y ait un problème...</h2>

  <figure>
    <img src="{{asset('img/illustrations/error.svg')}}" class="back" height="500" width="800">
  </figure>

  <div class="btn-incube">
    <button class="btn-admin">
      <a href="{{path('rt')}}"><i class="fas fa-home" title="Accueil du site"></i> Accueil</a>
    </button>
  </div>

{% endblock %}
