{% extends 'base.html.twig' %}

{% block title %}Rimbaud' Tech | Erreur : accès interdit{% endblock %}

{% block body %}

  <h2> Oups ! Vous essayez d'accéder à une page qui ne vous est pas autorisée...</h2>

  <figure>
    <img src="{{asset('img/illustrations/403.svg')}}" class="back" height="500" width="800">
  </figure>

  <div class="btn-incube">
    <button class="btn-admin">
      <a href="{{path('rt')}}"><i class="fas fa-home" title="Accueil du site"></i> Accueil</a>
    </button>
  </div>

{% endblock %}
