@import "colors";
@import "titraille";

/*  style pour l'affichage des 3 derniers articles  */

.liste_articles {
  margin: 2em;
  & .title-article {
    text-align: left;
    color: $dmagenta;
    font-size: 2em;
  }
  & aside {
    @include aside;
  }

  & img {
    width: auto;
    max-height: 20em;
    margin-left: 10em;
    margin-top: 1em;
  }

  & .article-tx {
    margin: 0 10em 2em 10em;
  }

  & h5 {
    font-weight: 900;
    color: $dgrey;
    line-height: 1.6;
    font-size: 1.2em;
  }

  & h4 {
    color: $logoblue;
    font-size: 1.4em;
  }

  & p {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.6;
  }

  & li {
    color: $dgrey;
    font-weight: 500;
  }

  & .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  font-size: 2em;
  float: right;
  background-color: $logoblue;
  padding: 0 0.4em 0.1em 0.4em;
  border-radius: 47%;
}

 & .active:after {
  content: "\2212";
}

  & .art-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
}


/*  pour les iframes des réseaux sociaux  */

.iframes-gp {
  background-color: $logoblue;
  padding: 2em 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.iframe-fb {
  padding-left: 6em;
}

.iframe-twitter {
  padding-right: 6em;
}

/***********pour le pdf****************/




.pdf {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.optin-container  {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 30rem;
    margin-bottom: 3em;
  }

.cta {
    background: $dmagenta;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    line-height: 1;
    padding: 1.75rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
    // @media screen and (max-width: 600px)
    //     line-height: 1.4
    //     padding: 1.25rem 1rem


.form-pdf {
    background: $logoblue;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    margin: 0;
    width: 100%;
  }

.pdf__btn {
  color: white;
  width: 10em;
  border-radius: 2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: calc(50% - 5em);
  background-color: $dmagenta;
  &:hover {
    background-color: white;
    color: $dmagenta;
    text-decoration: underline;
  }

}


    // @media screen and (max-width: 600px)
    //     flex-flow: row wrap
    //     input
    //         padding: 1rem !important
    //         margin: 0 !important
    //         flex: 100%
    //
    //         &[type="submit"]
    //             margin-top: 1rem !important

.hidden {
  display: none;

}




/* pour les boutons d'un article type */


  .liste_articles .prev, .liste_articles .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    background-color: $dmagenta;
    border-radius: 3em;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    padding: 0.5em 0.7em;
  }


/* Position du btn à dte */
.next {
  right: 2em;
}

/* bckgd pour le hover et le active */
.prev:hover, .next:hover {
  background-color: $logoblue;
}

.prev:active, .next:active {
  background-color: $dgrey;
}

/**************pour les commentaires**********/
.comments {
  background-color: $lightblue;
  & h2 {
    text-align: left;
    padding-top: 1em;
    padding-left: 5em;
    margin-top: 0;
  }
  & .comments-type {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
  }
  & aside {
    @include aside;
    margin-left: 3em;
  }
  & p {
    text-align: left;
  }
  & .fas {
    color: $dmagenta;
  }

  & .comments-h2 {
    text-align: center;
    padding-left: 0;
  }

  & .comments-h2-user {
    text-align: left;
    padding-left: 5em;
  }

  label {
    display: none;
  }

  textarea {
    font-family: $font;
    padding: 0 5em 0 1em;
    width: 90%;
    height: 5em;
    font-size: 1em;
    border-radius: 1em;
  }

  .form-group-comment {
    margin: 2em 5em;
    padding-bottom: 1em;
    font-size: 1.3em;
    font-weight: 400;
    & :focus {
      border-left: 0.5em solid $dmagenta;
      padding-left: 0.3em;
    }
  }

  & .comments__btn {
    @include bouton;
    background-color: $logoblue;
    margin-bottom: 2em;
    margin-left: calc(50% - 5em);
    &:hover {
      text-decoration: underline;
    }
  }

}


/*************media query****************/
@media screen and (max-width: 1049px) {
.liste_articles {
  & .article-tx {
    margin-left: 5em;
    margin-right: 5em;
  }
}
.iframe-fb {
  padding-left: 2em;
}
.iframe-twitter {
  padding-right: 2em;
}
}

@media screen and (max-width: 1049px) {
.iframes-gp {
  flex-wrap: wrap;
  justify-content: space-around;
}
.iframe-fb, .iframe-twitter {
  padding: 2em 0.5em;
  margin-left: calc(25% - 200px);
}
}

@media screen and (max-width: 729px) {
  .liste_articles {
    & .title-article {
      font-size: 1.5em;
    }
    & .article-tx {
      margin-left: 2em;
      margin-right: 2em;
    }
    & img {
      margin-left: 5em;
}
}
}

@media screen and (max-width: 549px) {
  .iframe-fb, .iframe-twitter {
    margin: 2em;
}
.liste_articles {
  & img {
    margin-left: 0em;
}
& .title-article {
  font-size: 1em;
}
& h5 {
  font-weight: 600;
  font-size: 1em;
}
& h4 {
  font-size: 1em;
}
& p {
  font-size: 1em;
  font-weight: normal;
}
}
.prev, .next {
  top: 50%;
}
}
