@import "colors";
@import "titraille";

/*  style pour l'affichage des 3 derniers articles  */

.liste_articles {
  margin: 2em;
  & h2{
    text-align: left;
    color: $dmagenta;
    font-size: 2em;
  }
  & aside {
    margin-left: 1em;
    font-style: italic;
    color: $dgrey;
    font-size: 1em;
  }

  & img {
    width: auto;
    max-height: 20em;
    margin-left: 10em;
    margin-top: 1em;
  }

  & .article-tx {
    margin: 0 10em 2em 10em;
  }

  & h5 {
    font-weight: 900;
    color: $dgrey;
    line-height: 1.6;
    font-size: 1.2em;
  }

  & h4 {
    color: $logoblue;
    font-size: 1.4em;
  }

  & p {
    text-align: left;
    font-size: 1.1em;
    line-height: 1.6;
  }

  & li {
    color: $dgrey;
    font-weight: 500;
  }

  & .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  font-size: 2em;
  float: right;
  background-color: $logoblue;
  padding: 0 0.4em 0.1em 0.4em;
  border-radius: 47%;
}

 & .active:after {
  content: "\2212";
}

  & .art-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
}
