@import "colors";
@import "titraille";

h2 {
  @include h2h3;

  &:hover {
    text-decoration: none;
    color: $dgrey;
  }
}

.logoblue {
  color: $logoblue;
}

/*  section portfolio  */

.portfolio {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 1em;

.portfolio-ens {
  & figcaption {
    transform: translate(1em , -2em);
    color: $dmagenta;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px #000;
}
  & .fas {
    color: $dmagenta;
    transform: rotate(-90deg);
    transform: translate(8.5em , -1.8em);

  &:hover {
    color: $logoblue;
  }}
}}

/*  section co-working description  */

.section__coworking {
  padding: 2em;
}

/*  section tarifs  */
.container-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0 5em 2em;
  justify-content: space-around;
  background-color: $dmagenta;
  margin-left: 15%;
  padding: 2em;

  & .section__tarifs__img {
    transform: translateX(-12em);
    width: 600px;
    height: 400px;
  }

  & .section__tarifs__adh {
    @include tarifs;
    transform: translateX(-6em);
  & .cap {
    text-transform: uppercase;
  }
  & .asterix {
    color: $logoblue;
  }
  & p {
    @include tarifs;
  }
  & .section__asterix {
    font-style: italic;
  }
  }

  & .section__tarifs__nadh {
    @include tarifs;
    transform: translateX(-3em);
  & .cap {
    text-transform: uppercase;
  }
  & p {
    @include tarifs;
  }
  }

& .blueline {
  @include blueline;
}
}

.dmagenta {
  color: $dmagenta;
}

/***********media query*******************/
@media screen and (max-width: 1663px) {
  .container-grid {
    grid-gap: 0 2em 2em;
    padding: 1em;
    margin-left: 5%;
  }
}

@media screen and (max-width: 1453px) {
  .container-grid {
    & .section__tarifs__adh, .section__tarifs__nadh {
      font-size: 0.8em;
    }
  }
}

@media screen and (max-width: 1301px) {
  .container-grid {
    grid-template-columns: 5% auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 2em;

    & .section__tarifs__img {
      grid-column: 2 / span 2;
      transform: translateX(0em);
}
    & .section__tarifs__adh  {
      transform: translateX(0em);
      grid-column: 2 / span 1;
      grid-row: 2;
      padding-left: 2em;
    }

    & .section__tarifs__nadh {
      grid-column: 3 / span 1;
      grid-row: 2;
      padding-left: 2em;

    }
  }
}

@media screen and (max-width: 758px) {
  .container-grid {
    grid-template-rows: auto auto auto;

    & .section__tarifs__adh  {
      grid-column: 2 / span 3;
      padding-left: 1em;
    }
    & .section__tarifs__nadh {
      padding-left: 4em;
      grid-column: 2 / span 3;
      grid-row: 3;
}
}
}

@media screen and (max-width: 608px) {
  .container-grid {
    grid-template-columns: auto;
    & .section__tarifs__adh  {
    margin-left: 5em;
    grid-column: 2 / span 2;
  }
  & .section__tarifs__nadh {
    margin-left: 5em;
  }
}
}

@media screen and (max-width: 493px) {
  .container-grid {
    margin-left: 0;
    display: block;
  }
}
