@import "colors";
@import "titraille";

h2 {
  @include h2h3;
  margin-top: 1em;
  &:hover {
    text-decoration: none;
    color: $dgrey;
  }
}

h2.margin-admin {
  margin: 3em 0;
}

.titre-back {
  @include titre-back;
& .h2-back {
    color :$dgrey;
    flex: 0 1 auto;
  }
& .icone-back {
    flex: 1 1 auto;
  }
}

.titre-back-center {
  @include titre-back-center;
& .h2-back {
    color :$dgrey;
    flex: 0 1 auto;
  }
& .icone-back {
    flex: 1 1 auto;
  }
}

/*  formulaires*/

label {
  display: none;
}

.form-admin-photos {
  & :focus {
    border-left: 0.5em solid $dmagenta;
    padding-left: 0.1em;
  }
  & label {
  display: inherit;
  font-style: italic;
}
}

.form-group-article {
    margin-left: 25%;
  & :focus {
    border-left: 0.5em solid $dmagenta;
    padding-left: 0.1em;
  }
  & label {
  display: inherit;
  font-style: italic;
}
}

input#form_image.form-control {
  display: none;
}

.form-label {
  margin-bottom: 1.3em;
  font-style: italic;
}

.form-group {
  width: 50%;
  height: 3em;
  border: none;
  border-bottom: 0.1em solid $logoblue;
  margin: 1em auto;
  margin-left: 25%;
  font-size: 1.3em;
  color: $dgrey;
  font-weight: 400;
  padding-bottom: 1em;
  & :focus {
    border-left: 0.5em solid $dmagenta;
    padding-left: 0.1em;
  }
}

.form-group-photos {
  width: 50%;
  height: 7em;
  border: none;
  border-bottom: 0.1em solid $logoblue;
  margin: 1em auto;
  margin-left: 25%;
  font-size: 1.3em;
  color: $dgrey;
  font-weight: 400;
  padding-bottom: 1em;
}

.form-group-comment {
  margin: 2em 5em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid $logoblue;
  font-size: 1.3em;
  color: $dgrey;
  font-weight: 400;
  & :focus {
    border-left: 0.5em solid $dmagenta;
    padding-left: 0.1em;
  }
}

.form-group-login {
  width: 25em;
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 0.1em solid $logoblue;
  font-size: 1.3em;
  color: $dgrey;
  font-weight: 400;
  & :focus {
    border-left: 0.5em solid $dmagenta;
    padding-left: 0.1em;
  }
}

.form-control {
  border: none;
  font-size: 1em;
  width: 30em;
  outline-style: none;
  padding: 0.5em;
}

textarea#form_description.form-control, textarea#form_comment.form-control, textarea#form_introduction.form-control, textarea#form_paragraphe1.form-control, textarea#form_paragraphe2.form-control, textarea#form_paragraphe3.form-control, textarea#form_paragraphe4.form-control, textarea#content_description.form-control{
  font-family: $font;
  width: 100%;
}
textarea {
  padding: 0 5em 0 0;
  font-size: 1em;
}
textarea#form_text.form-control {
  width: 100%;
  height: 3em;
}

input#user.form-input, input#article.form-input, input#tarif.form-input, input#content.form-input {
  vertical-align: bottom;
  width: 2em;
  height: 2em;
  margin: 0;
  margin-right: 1em;
}

input#comment.form-input {
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;

}

.btn-admin {
  background-color: $logoblue;
  color: white;
  width: 10em;
  border-radius: 2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: calc(50% - 5em);
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    text-decoration: underline;
    background-color: $dmagenta;
  }
}

.fas {
  color: $dmagenta;
  padding-left: 1em;
}

.comments-tx {
  padding-left: 1em;
}

.aside {
  @include aside;
  margin-left: 10em;
}
/*  page accueil  */

.back {
  margin-left: calc( 50% - 400px);
}

/*  boutons de gestion  */

.btn-back {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-15em);
  margin-top: 2em;

  & .btn-admin {
    flex: 1 1 auto;
    max-width: 30em;
  }
}

.mag {
  background-color: $dmagenta;
  &:hover {
    background-color: $logoblue;
}
}

/********security**************/

.error-dmg {
  color: $dgrey;
  padding: 1em;
  border: 0.2em dotted $dmagenta;
  width: 44em;
  text-align: center;
  margin-left: calc( 50% - 24em);
}

.login-path {
  margin-bottom: 0;
  color: $dmagenta;

  &:hover {
    text-decoration: underline;
  }
}

.login-btn {
  margin-bottom: 5em;
}

/*************tooltip**************/
.container-tooltip {
  display: flex;
  flex-direction: row;
}
.icone-help {
  background-color: #F5ECEC;
  border-radius: 50%;
  padding: 0.6em;
  position: relative;
  right: 15em;
}
.tooltip #tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  right: 3.8em;
  top: 43em;
  opacity: 0;
  transition: opacity 0.3s;
  width: 10em;
  height: 5em;
  background: $dmagenta;
  -moz-border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  border-radius: 0.625em;
  padding: 0.3em;
  color: antiquewhite;
  text-align: center;
}

#tooltiptext:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 1.625em;
  width: 0;
  height: 0;
  border-top: 0.813em solid transparent;
  border-right: 1.625em solid $dmagenta;
  border-bottom: 0.813em solid transparent;
}

.tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}
