@import "colors";
@import "titraille";

html {
  overflow-x: hidden;
}

h2 {
  @include h2h3;

  &:hover {
    text-decoration: none;
    color: $dgrey;
  }
}

.logoblue {
  color: $logoblue;
}

.infographie {
  width: 100%;
  height: auto;
  margin-top: 3em;
}

.section__incubateur {
  padding: 2em;
  & .section__incubateur__tx {
    padding: 3em;
    font-size: 1em;
  }
}

.section__equipe__presentation {
  background-color: $dmagenta;
  height: auto;
  padding: 2em;
  width: 85%;
  margin-top: 3em;
  margin-left: 10%;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: nowrap;

  & img {
    max-width: 40%;
    max-height: 30em;
    transform: rotate(90deg);
    padding: 5em;
    margin-left: -20%;
    flex: 0 1 30%;
  }

  & .section__equipe__presentation__tx {
    color: white;
    flex: 1 1 auto;

  & .section__equipe__tx {
    padding: 0.2em;
    font-family:'Muli', sans-serif;
    color: white;
    text-align: left;
    font-size: 1.2em;
  }

  & .blueline {
    @include blueline;
    width: 25%;
  }

  & .cap {
    text-transform: uppercase;
  }

  & .fab {
    color: $logoblue;
    padding-bottom: 2em;

    &:hover {
      color: white;
    }
  }
  }
}


/************media query****************/

@media screen and (max-width: 1530px) {
  .section__equipe__presentation {
    & img {
      max-height: 20em;
    }
  }
}

@media screen and (max-width: 1099px) {
  .section__equipe__presentation {
    margin-left: 20%;
    & img {
      max-height: 15em;
      margin-left: -30%;
    }
  }
}

@media screen and (max-width: 835px) {
  .section__equipe__presentation {
    & img {
      display: none;
    }
  }
}
