@import "colors";
@import "titraille";



/*  section présentation  */

.presentation{

  & .presentation__logo{
    width: 20em;
    height: auto;
    margin-left: calc(50% - 10em);
    padding: 2em ;
  }

  & .incubateur {
    margin-left: calc(50% - 150px);
    border-radius: 2em;
  }

  & p {
    margin: 0 10em;
  }
}



  /*  section video  */

  video {
    margin-left: calc(50% - 500px);
    margin-bottom: 2em;
  }

  /*  section avantages  */

  .avantages {
    width: 100%;
    height: auto;
    background-color: $logoblue;

  & h2 {
    @include h2h3;
    padding: 1em;
  }

  & .avantages__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  & .avantages__gp {
    padding: 1em;
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
  }

  & .fas {
    color: white;
  }

  & .avantages__icones {
    padding: 2em 0;
  }

  & p {
    color: black;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
  }
}

/*  section nos incubés  */

.incubés h2{
  @include h2h3;
}

/*  section actus  */

.section__actualite {
  height: 62em;
}

.section__affichage {
  display: flex;
  flex-wrap: nowrap;

  &.section__actualite__article {
     width: 50%;
     height: 60em;
     background-color: white;
     border: none;
     border-radius: 1em;
     padding: 2em;
     margin-left: 2em;
     justify-content: center;
   }

}
