@import "colors";
@import "titraille";

/* preloader */

.loader {
  width: 100%;
  height: 100vh;

  & img {
    margin-left: calc(50% - 50px);
    margin-top: calc(10% - 50px);
  }
}

/*  section présentation  */

.presentation{

  & .presentation__logo{
    width: 20em;
    height: auto;
    margin-left: calc(50% - 10em);
    padding: 2em ;
  }

  & .incubateur {
    margin-left: calc(50% - 150px);
    border-radius: 2em;
  }

  & p {
    margin: 0 10em;
  }
}

  /*  section video  */

  video {
    margin-left: calc(50% - 500px);
    margin-bottom: 2em;
    margin-top: 2em;
    border-width: 0.5em;
    border-style: inset;
    border-color: $logoblue $logoblue $dmagenta $dmagenta;
  }

  /*  section avantages  */

  .avantages {
    width: 100%;
    height: auto;
    background-color: $logoblue;

  & h2 {
    @include h2h3;
    padding: 1em;
  }

  & .avantages__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  & .avantages__gp {
    padding: 1em;
    text-align: center;
    max-width: 20em;
    margin: 0 auto;
  }

  & .fas {
    color: white;
  }

  & .avantages__icones {
    padding: 2em 0;
  }

  & h3 {
    color: $dmagenta;
  }

  & p {
    color: $dgrey;
    font-size: 1.2em;
  }
}

/*  section nos incubés  */

.incubés h2{
  @include h2h3;
}

/*  article dans index  */

.liste_articles {
  & .fas {
    color: $dmagenta;
    padding-left: 1em;
  }
}

.inter-article {
  height: 4em;
  margin: 0;
  background-color: $dmagenta;
}


/*************redirection*************/
.back {
  margin-left: calc( 50% - 400px);
}


/********media query **********/
@media screen and (max-width: 1475px) {
.presentation p {
  margin: 0 5em;
}

video {
  width: 100%;
  height: auto;
  margin: 0;
}
}

@media screen and (max-width: 1111px) {
  .avantages {
  .avantages__flex {
    flex-wrap: wrap;
  }
}}

@media screen and (max-width: 770px) {
.presentation p {
  margin: 0 1.5em;
}
}
