@import "colors";
@import "titraille";

.section__location__desc {
  padding:3em 5em 0 5em;
}

.tarifs-location-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: linear-gradient(0deg, $logoblue 80%, white 20%);

  & figcaption {
    color: $dgrey;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
  }

  & .magentaline {
  background-color: $dmagenta;
  border: none;
  height: 0.3em;
  border-radius: 1em;
  width: 50%;
}

  & h3 {
    color: white;
    text-align: center;
  }

  & .cap {
    text-transform: uppercase;
  }

  & p {
    color: white;
  }
}

/***********media query***************/
@media screen and (max-width: 1299px) {
    .tarifs-location-flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 619px) {
  .tarifs-location-flex {
    font-size: 0.8em;
    & img {
      width: 350px;
      height: auto;
    }
}
}
