@import "colors";
@import "titraille";

.section__location__desc {
  padding:3em;
}

.section__location__photos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.section__location__tarifs {
  background-color: $logoblue;
  padding: 2em;

  & .section__location__tarifs__salles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

  & .section__location__tarifs__salle {
    flex: 1 1 auto;
    color: white;
    @include tarifs;
    text-align: center;
  & .cap {
    text-transform: uppercase;
  }
  & p {
    @include tarifs;
    text-align: center;
  }
  }

  & .blueline {
  @include blueline;
  background-color: $dmagenta;
  width: 30%;
  text-align: center;
  }
}}
