@import "colors";
@import "titraille";


/*********résumé profil*******/

.profile {
  width: 900px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: calc(50% - 320px);
  margin-top: 2em;
}

.profile-resume {
  border: 0.2em solid $logoblue;
  max-width: 400px;
  border-radius: 1em;
  text-align: left;
  color: $dgrey;
  margin-left: 2em;
  padding-bottom: 1em;
  & h6 {
    margin: 0;
    font-size: 1.2em;
    padding: 1em 2em 0.5em 1em;
      }
  & p {
    font-size: 1em;
    text-align: left;
    padding: 0 1em;
  }
}

.profile-comments {
  max-width: 400px;
  border-radius: 1em;
  border: 0.2em solid $logoblue;
  text-align: left;
  color: $dgrey;
  margin-left: 2em;
  padding-bottom: 1em;
  & h6 {
    margin: 0;
    font-size: 1.2em;
    padding: 1em 2em 0.5em 1em;
      }
  & p {
    font-size: 1em;
    text-align: left;
    padding: 0 1em;
  }
}

/*********booking profil*******/
.profile-booking {
  background-color: $magenta;
  max-width: 900px;
  border-radius: 1em;
  text-align: left;
  color: white;
  margin-left: calc(50% - 450px);
  padding-bottom: 1em;
  & h6 {
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 0 0.5em 2em;
      }
  & .profile-table {
    margin-left: 4em;
    border-collapse: collapse;
    & th, td {
      border-bottom: 0.1em solid white;
      padding: 1em;
      font-size: 1em;
      text-align: center;
    }
  }
}

/*********btn profil*******/
.profile-btn {
  background-color: $logoblue;
  color: white;
  width: 10em;
  border-radius: 2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: calc(50% - 5em);
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    text-decoration: underline;
    background-color: $dmagenta;
  }

}

/**********media query ************/
@media screen and (max-width: 900px) {
  .profile-booking {
    max-width: 400px;
    margin-left: calc(50% - 200px);
    & h6 {
      margin-bottom: 0;
      font-size: 0.8em;
      padding: 1em 0 0.5em 2em;
        }
    & .profile-table {
      margin-left: 0.5em;
      border-collapse: collapse;
      & th, td {
        border-bottom: 0.1em solid white;
        padding: 0.5em;
        font-size: 0.7em;
        text-align: center;
      }
  }
}
.profile {
  width: 400px;
  flex-wrap: wrap;
  margin-left: calc(50% - 210px);
}

.profile-resume {
  width: 350px;
  border-radius: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  & h6 {
    font-size: 0.8em;
    padding: 1em 2em 0.5em 1em;
      }
  & p {
    font-size: 0.7em;
    padding: 0 1em;
  }
}

.profile-comments {
  width: 350px;
  & h6 {
    font-size: 0.8em;
    padding: 1em 2em 0.5em 1em;
      }
  & p {
    font-size: 0.7em;
    padding: 0 1em;
  }
}

}
