@import "colors";

@mixin h2h3{
  color: $dgrey;
  text-align: center;

  &:hover {
    color: $dmagenta;
    text-decoration: underline;
  }
}

@mixin hr {
  width: 10%;
  height: 0.3em;
  background-color: $dgrey;
  border-radius: 1em;
}
