@import "colors";

$font: 'Muli', sans-serif;

@mixin h2h3{
  color: $dgrey;
  text-align: center;

  &:hover {
    color: $dmagenta;
    text-decoration: underline;
  }
}

@mixin hr {
  width: 10%;
  height: 0.3em;
  background-color: $dgrey;
  border-radius: 1em;
}

@mixin hr-incube {
  background-color: $logoblue;
  height: 0.2em;
  border: none;
}

@mixin hr-coworker {
  background-color: $dmagenta;
  height: 0.2em;
  border: none;
}

@mixin p {
  text-align: center;
  font-family: 'Sniglet', cursive;
  font-size: 1.3em;
  color: $dgrey;
}

@mixin tarifs {
  text-align: left;
  color: white;
  padding-right: 2em;
}

@mixin blueline {
  background-color: $logoblue;
  border: none;
  margin-left: 0;
  width: 70%;
  height: 0.3em;
  border-radius: 1em;
}

@mixin titre-back {
  display: flex;
  flex: nowrap;
  margin-top: 1em;
  align-items: baseline ;
  justify-content: center;
}

@mixin titre-back-center {
  display: flex;
  flex: nowrap;
  margin-top: 1em;
  align-items: center ;
  justify-content: center;
}

@mixin bouton {
  color: white;
  width: 10em;
  border-radius: 2em;
  height: 3em;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 2em;
}

@mixin aside {
  margin-left: 1em;
  font-style: italic;
  color: $dgrey;
  font-size: 1em;
}
